* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: 62.5%;
    --body-font: '', sans-serif;
    /* Colors */
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
    /* Font  */
    --font-default: "Open Sans", system-ui,
        -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}

/*------------ General -----------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--txt1);
    font-size: 1.6em;
    font-family: var(--font-default);
    /* why overflow hidden */
    /* overflow-x: hidden; */
}

a {
    /* color: inherit; */
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

/* maybe just change opacity?? */
a:hover {
    color: #ffc732;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

header {
    background-color: var(--color-default);
    /* position: absolute; */
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    /* color: white; */
    padding-right: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: white;
}

h1 span {
    color: var(--color-primary);
}

nav {
    height: 100%;
}

/*----====== Desktop Navigation  =======----*/
@media(min-width: 1280px) {
    .navbar {
        padding: 0
    }

    nav ul {
        /* cancel bootstrap ul margin-bottom and padding-left  */
        margin: 0;
        padding: 0;
        /* display: flex; */
        list-style-type: none;
        /* align-items: center; */
    }

    nav ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        /* why focus?  */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
        /* to make the underline a little wider  */
        padding: 0 3px;
        /* what is font-primary used for? */
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        white-space: nowrap;
        transition: .3s;
        /* position relative to position the underline */
        position: relative;
    }

    /* This is for the drop down arrow  */
    /* .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        This line-height help me somehow center vertically??
        line-height: 0;
        margin-left: 5px;
    } */
    /* width: 100%, width: 0; transition visibility: hidden */
    nav ul>li>a::before {
        content: "";
        position: absolute;
        background-color: var(--color-primary);
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        /* why this ??? */
        width: 0px;
        /* what is this ? */
        /* why 2 speeds?? what is the second for  */
        transition: all .3s ease-in-out 0s;
        visibility: hidden;
    }

    /* .active??  */
    nav ul>li:hover>a::before,
    nav ul>li>a:hover::before,
    nav .active::before {
        visibility: visible;
        /* why do we need width: 100% here?? */
        width: 100%;
    }

    .mobile-nav-show {
        /* position: relative; */
        color: white;
        font-size: 28px;
        cursor: pointer;
        transition: .5s;
        /* why line-height:0  */
        line-height: 0;
        padding-right: 10px;
    }

    .mobile-nav-hide {
        color: white;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: .5s;
        position: fixed;
        right: 20px;
        top: 20px;
    }

    main {
        flex: 1 1;
        /* background-color: aqua; */
    }

    footer {
        height: 60px;
        background-color: aquamarine;
    }