* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: 62.5%;
    --body-font: '', sans-serif;
    /* Colors */
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
    /* Font  */
    --font-default: "Open Sans", system-ui,
        -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}

/*------------ General -----------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--txt1);
    font-size: 1.6em;
    font-family: var(--font-default);
    /* why overflow hidden */
    /* overflow-x: hidden; */
}

a {
    /* color: inherit; */
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

/* maybe just change opacity?? */
a:hover {
    color: #ffc732;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

/* Section & Section Header  */
section {
    padding: 80px 0;
    /* why overflow hidden */
    overflow: hidden;
}

/*=============== Header  ===============*/
header {
    background-color: var(--color-default);
    /* absolute to use z-index to put it over the hero.  */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    /* color: white; */
    padding-right: 10px;
    /* why???*/
    z-index: 997;
}

main {
    flex: 1 1;
    /* background-color: aqua; */
}

footer {
    height: 60px;
    background-color: aquamarine;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: white;
}

h1 span {
    color: var(--color-primary);
}

/*----====== Desktop Navigation  =======----*/
@media(min-width: 1280px) {
    .navbar {
        padding: 0
    }

    .navbar ul {
        /* cancel bootstrap ul margin-bottom and padding-left  */
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        align-items: center;
    }

    .navbar>ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        /* why focus?  */
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        /* to make the underline a little wider  */
        padding: 0 3px;
        /* what is font-primary used for? */
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        /* white-space: nowrap; */
        transition: .3s;
        /* position relative to position the underline */
        position: relative;
    }

    /* This is for the drop down arrow  */
    /* .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        This line-height help me somehow center vertically??
        line-height: 0;
        margin-left: 5px;
    } */
    /* width: 100%, width: 0; transition visibility: hidden */
    .navbar>ul>li>a::before {
        content: "";
        position: absolute;
        background-color: var(--color-primary);
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        /* why this ??? */
        width: 0px;
        /* what is this ? */
        /* why 2 speeds?? what is the second for  */
        transition: all .3s ease-in-out 0s;
        visibility: hidden;
    }

    /* .active??  */
    .navbar ul>li:hover>a::before,
    .navbar ul>li>a:hover::before,
    .navbar .active::before {
        visibility: visible;
        /* why do we need width: 100% here. why width 100% up doesn't work?? */
        width: 100%;
    }

    /* active focus what's for? */
    /* what is focus?? */
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: white;
    }

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

/*--------- Mobile Navigation -----------*/
@media(max-width:1279px) {
    .navbar {
        background-color: green;

        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        max-width: 400px;
        transition: .3s;
        bottom: 0;
        z-index: 9997;
    }

    .navbar ul {
        /* absolute is to use inset property  */
        /* absolute is to use z-index to make the up on top of the screen that prevent the scrolling; */
        position: absolute;
        /* inset is a shorthand for top bottom left right  */
        /* top: 0; right: 0; bottom: 0; left: 0; */
        /* This is a west of time. where merging the up with .navbar we could have just give .navbar to ul no need for the extra element */
        inset: 0;
        /* we can put padding: 50px 0 10px; */
        padding: 50px 0 10px 0;
        /* cancel some margin from vendor  */
        margin: 0;
        /* why?? */
        /* add scroll bars if content overflows */
        overflow-y: auto;
        background-color: rgb(0 0 0 /.8);
        transition: .3s;
        z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
        /* makes no sens? */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        /* this may be useless */
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 500;
        color: rgb(255 255 255 /0.7);
        white-space: nowrap;
        text-transform: uppercase;
        /* why this transition?? seems useless */
        transition: .3s;
    }

    /* same as desctop. we can do it just once .navbar a:hover, */
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .mobile-nav-show {
        /* position: relative; */
        color: white;
        font-size: 28px;
        cursor: pointer;
        transition: .5s;
        /* why line-height:0  */
        line-height: 0;
        padding-right: 10px;
    }

    .mobile-nav-hide {
        color: white;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: .5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }

    /* a class that will be added by main.js to move navbar from -100 right to 0 right*/
    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .navbar {
        right: 0;
    }

    /* I have no idea what is this  */
    /* Looks like it's to prevent me from clicking?? but why?? */
    /* prevent scrolling? */
    .mobile-nav-active .navbar::before {
        content: "";
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9996;
        backdrop-filter: blur(2px);
    }

}

/*------------- Hero Section  -------------*/
/* I see no reason for this  */
#hero {
    background-color: yellow;
    /* this may be for the carousel */
    /*overflow-x: hidden;*/
    /* This padding 0 otherwise the carousel with height 100vh is going to be pushed down by 80px then it will enlarge the hero another 80px*/
    padding: 0;

}

/* I think this will be added by bootstrap js to hold carousel */
#hero .carousel {
    width: 100%;
    min-height: 100vh;
    /* why did we give the padding to carousel instead of keeping section padding  */
    /* so far I don't need it */
    /* padding: 80px 0; */
    margin: 0;
    /* position relative keep the element in the stream */
    position: relative;
}

#hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: green;
}

@media(max-width: 768px) {
    #hero .info {
        padding: 0 50px;
    }
}

#hero .info h2 {
    color: white;
    /* why margin-bottom and padding-bottom  */
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    /* position relative to make ::after absolute */
    position: relative;

}

#hero .info h2::after {
    /* always */
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    /* margin auto to center the bar cause it's a block  */
    margin: auto;
}

@media (max-width: 768px) {
    #hero .info h2 {
        font-size: 36px;
    }
}

#hero .info p {
    color: rgb(255 255 255 /.8);
    font-size: 18px;
}

#hero .info .btn-get-started {
    font-family: var(--font-primary);
    /* font-weight: 500 is not working ; */
    font-weight: 500;

    font-size: 16px;

    letter-spacing: 1px;
    display: inline-block;
    /* margin it's not respected if inline  */
    padding: 12px 40px;
    border-radius: 50px;
    /* for the hover effet  */
    transition: .5s;
    margin: 10px;
    color: white;
    border: 2px solid var(--color-primary);

}

#hero .info .btn-get-started:hover {
    background-color: var(--color-primary);
}

/* Get Started Section  */
#get-started .content {
    padding: 30px 0;
}

#get-started .content h3 {
    font-size: 36px;
    color: var(--color-secondary);
    font-weight: 600;
    /* why he combine margin and padding?? */
    /* padding-bottom is the space between he h3 and its horizontal line  */
    padding-bottom: 25px;
    /* margin-bottom is the space between the horizontal line and the paragraph */
    margin-bottom: 25px;

    /* This means we will use after or before with absolute */
    position: relative;
}

#get-started .content h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary);
    left: 0;
    bottom: 0;

}

#get-started .content p {
    font-size: 14px;
}

#get-started .php-email-form {
    background-color: rosybrown;
    padding: 30px;
    /* why height: 100% */
    /* height: 100%; */
}